.h2{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: gold;
}
.p{
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    color: rgb(161, 161, 161)
}
.contact{
    margin: 15rem;
    text-align: center;
}

.contact i{
    font-size: 1rem;
    padding: 0;
    margin:0;
}

.links{
    color: gold;
}

.links:hover{
    color: rgb(161, 161, 161);
}

.links:visited{
    color: gold;
}