.h1{
    font-size: 3rem;
    color: rgb(161, 161, 161);
    padding-left: 2rem;
}

.nav{
    position: fixed;
    top: 0;
    height: 6rem;
    width: 100%;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.navside{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav NavLink{
    font-family: 'Roboto', sans-serif;
}

nav i{
    font-size: 1.5rem;
}

.lastname{
    color: gold;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

.navbarlinks{
    float:right;
}

.links{
    font-size: 1.5rem;
    margin: .5rem;
    text-decoration: none;
    color: rgb(161, 161, 161);
}

.links:hover{
    color: gold;
}

.links:after{
    color: rgb(161, 161, 161);
}

.links:active{
    color: rgb(255, 255, 255);
}

img{
    height: 1.5rem;
    width: auto;
}